<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="de.dhbw.tinf11b2.ofk.model.pojo.User"/>
		<mapping class="de.dhbw.tinf11b2.ofk.model.pojo.Account"/>
		<mapping class="de.dhbw.tinf11b2.ofk.model.pojo.Income"/>
		<mapping class="de.dhbw.tinf11b2.ofk.model.pojo.Costs"/>
		<mapping class="de.dhbw.tinf11b2.ofk.model.pojo.Category"/>


	</session-factory>
</hibernate-configuration>