<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
">


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		autowire="autodetect">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>


	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- Note the usage of abstract="true" and parent="AbstractHibernateDAO" 
		in the implementations -->
	<bean id="AbstractHibernateDAO" abstract="true"
		class="de.dhbw.tinf11b2.ofk.model.dao.AbstractHibernateDAO" />

	<bean id="accountDAO" parent="AbstractHibernateDAO"
		class="de.dhbw.tinf11b2.ofk.model.dao.AccountDAO" />
	<bean id="categoryDAO" parent="AbstractHibernateDAO"
		class="de.dhbw.tinf11b2.ofk.model.dao.CategoryDao" />
	<bean id="costsDAO" parent="AbstractHibernateDAO"
		class="de.dhbw.tinf11b2.ofk.model.dao.CostsDAO" />
	<bean id="incomeDAO" parent="AbstractHibernateDAO"
		class="de.dhbw.tinf11b2.ofk.model.dao.IncomeDAO" />
	<bean id="userDAO" parent="AbstractHibernateDAO" class="de.dhbw.tinf11b2.ofk.model.dao.UserDAO" />
</beans>